@import "src/common/styles/sass/mixins";

.appContainer {
  background-color: $bgSecondColor;
  min-height: 100vh;
  .appBlock {
    min-height: 84vh;
    @include container();
    @include flex(row, flex-start, flex-start, nowrap);
  }
}