@import 'src/common/styles/sass/variables';
@import 'src/common/styles/sass/mixins';

.searchFieldContainer {
  padding: 5px 10px;
  margin-top: 5px;
  position: relative;
  @include flex(row, space-between, center, nowrap);

  .searchIcon {
    position: absolute;
    top: 13px;
    left: 22px;
  }
}