@import 'src/common/styles/sass/variables';
@import 'src/common/styles/sass/mixins';

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: black;
  opacity: 0.4;
  z-index: 1;
}

.modal {
  @include border(30px, 1);
  @include text($textFontFamily, 20px, 1.2, 200);
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
  padding: 0 20px 20px 20px;
  text-align: center;

  & div:nth-child(2) {
    font-weight: bold;
  }

  .escape {
    display: flex;
    width: 100%;
    justify-content: flex-end;

    & div {
      @include border(15px, 1);
      cursor: pointer;
      padding: 2px 7px;
      margin: 7px -7px 0 0;
    }
  }

  & input::placeholder{
    color: white;
    opacity: 70%;
  }
}





